In [1]:
import numpy as np
import pandas as pd
import scipy

In [3]:
path = 'E:/Users/Newton/JupyterNotebook/Data/mtcars.csv'
carsDF = pd.read_csv(path)
carsDF.columns = ['car_names','mpg','cyl','disp','hp','drat','wt','qsec','vs','am','gear','carb']
carsDF.index = carsDF.car_names
carsDF.head()

,car_names,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
car_names,,,,,,,,,,,,
Mazda RX4,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [5]:
carsDF.sum()

car_names    Mazda RX4Mazda RX4 WagDatsun 710Hornet 4 Drive...
mpg                                                      642.9
cyl                                                        198
disp                                                    7383.1
hp                                                        4694
drat                                                    115.09
wt                                                     102.952
qsec                                                    571.16
vs                                                          14
am                                                          13
gear                                                       118
carb                                                        90
dtype: object

In [7]:
carsDF.mean()

mpg      20.090625
cyl       6.187500
disp    230.721875
hp      146.687500
drat      3.596563
wt        3.217250
qsec     17.848750
vs        0.437500
am        0.406250
gear      3.687500
carb      2.812500
dtype: float64

In [11]:
carsDF.mode()
carsDF.median()

mpg      19.200
cyl       6.000
disp    196.300
hp      123.000
drat      3.695
wt        3.325
qsec     17.710
vs        0.000
am        0.000
gear      4.000
carb      2.000
dtype: float64

In [13]:
carsDF.mpg.idxmax()

'Toyota Corolla'

In [14]:
carsDF.std()

mpg       6.026948
cyl       1.785922
disp    123.938694
hp       68.562868
drat      0.534679
wt        0.978457
qsec      1.786943
vs        0.504016
am        0.498991
gear      0.737804
carb      1.615200
dtype: float64

In [15]:
carsDF.var()

mpg        36.324103
cyl         3.189516
disp    15360.799829
hp       4700.866935
drat        0.285881
wt          0.957379
qsec        3.193166
vs          0.254032
am          0.248992
gear        0.544355
carb        2.608871
dtype: float64

In [16]:
carsDF.describe()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.0000
mean,20.090625,6.187500,230.721875,146.687500,3.596563,3.217250,17.848750,0.437500,0.406250,3.687500,2.8125
std,6.026948,1.785922,123.938694,68.562868,0.534679,0.978457,1.786943,0.504016,0.498991,0.737804,1.6152
min,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,15.425000,4.000000,120.825000,96.500000,3.080000,2.581250,16.892500,0.000000,0.000000,3.000000,2.0000
50%,19.200000,6.000000,196.300000,123.000000,3.695000,3.325000,17.710000,0.000000,0.000000,4.000000,2.0000
75%,22.800000,8.000000,326.000000,180.000000,3.920000,3.610000,18.900000,1.000000,1.000000,4.000000,4.0000
max,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000

In [18]:
carsDF.carb.value_counts()

4    10
2    10
1     7
3     3
8     1
6     1
Name: carb, dtype: int64

In [25]:
cars_cat = carsDF[['cyl','vs','am','gear','carb']]
cars_cat.head()

                   cyl  vs  am  gear  carb
car_names
Mazda RX4            6   0   1     4     4
Mazda RX4 Wag        6   0   1     4     4
Datsun 710           4   1   1     4     1
Hornet 4 Drive       6   1   0     3     1
Hornet Sportabout    8   0   0     3     2

In [23]:
cars_gear = carsDF.groupby('gear')
cars_gear.describe()

       mpg                                                        cyl  \
     count       mean       std   min   25%   50%     75%   max count
gear
3     15.0  16.106667  3.371618  10.4  14.5  15.5  18.400  21.5  15.0
4     12.0  24.533333  5.276764  17.8  21.0  22.8  28.075  33.9  12.0
5      5.0  21.380000  6.658979  15.0  15.8  19.7  26.000  30.4   5.0

                ...   am       carb                                          \
          mean  ...  75%  max count      mean       std  min  25%  50%  75%
gear            ...
3     7.466667  ...  0.0  0.0  15.0  2.666667  1.175139  1.0  2.0  3.0  4.0
4     4.666667  ...  1.0  1.0  12.0  2.333333  1.302678  1.0  1.0  2.0  4.0
5     6.000000  ...  1.0  1.0   5.0  4.400000  2.607681  2.0  2.0  4.0  6.0


      max
gear
3     4.0
4     4.0
5     8.0

[3 rows x 80 columns]

In [26]:
carsDF['group'] = pd.Series(carsDF.gear, dtype="category")
carsDF['group'].dtypes

CategoricalDtype(categories=[3, 4, 5], ordered=False)

In [29]:
carsDF['group'].value_counts()

3    15
4    12
5     5
Name: group, dtype: int64

In [30]:
carsDF.gear.value_counts()

3    15
4    12
5     5
Name: gear, dtype: int64

In [31]:
pd.crosstab(carsDF['am'],carsDF['gear'])

gear   3  4  5
am
0     15  4  0
1      0  8  5