In [2]:
import numpy as np
import pandas as pd

In [20]:
series_obj = pd.Series(np.arange(8))
series_obj

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
dtype: int32

In [56]:
series_obj = pd.Series(np.arange(8),index=['A', 'B', 'C', 'D', 'E', 'F','G', 'H'])
series_obj

A    0
B    1
C    2
D    3
E    4
F    5
G    6
H    7
dtype: int32

In [23]:
series_obj[[5,6]]

F    5
G    6
dtype: int32

In [45]:
series_obj[['F','G']]

F    5
G    6
dtype: int32

In [57]:
series_obj[2:6]

C    2
D    3
E    4
F    5
dtype: int32

In [58]:
series_obj['C':'G']

C    2
D    3
E    4
F    5
G    6
dtype: int32

In [25]:
series_obj['D']

3

In [29]:
series_obj[4]

4

In [52]:
series_obj[series_obj < 3]

A    0
B    1
C    2
dtype: int32

In [54]:
series_obj['D','E','F'] = 100
series_obj

A      0
B      1
C      2
D    100
E    100
F    100
G      6
H      7
dtype: int32

In [30]:
np.random.seed(25)
DF_obj = pd.DataFrame(np.random.rand(36).reshape(6,6))
DF_obj

          0         1         2         3         4         5
0  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
1  0.684969  0.437611  0.556229  0.367080  0.402366  0.113041
2  0.447031  0.585445  0.161985  0.520719  0.326051  0.699186
3  0.366395  0.836375  0.481343  0.516502  0.383048  0.997541
4  0.514244  0.559053  0.034450  0.719930  0.421004  0.436935
5  0.281701  0.900274  0.669612  0.456069  0.289804  0.525819

In [31]:
np.random.seed(25)
DF_obj= pd.DataFrame(np.random.rand(36).reshape(6,6),
                    index=['row 1', 'row 2', 'row 3', 'row 4','row 5','row 6'],
                   columns=['column 1','column 2','column 3','column 4','column 5','column 6'])
DF_obj

       column 1  column 2  column 3  column 4  column 5  column 6
row 1  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
row 2  0.684969  0.437611  0.556229  0.367080  0.402366  0.113041
row 3  0.447031  0.585445  0.161985  0.520719  0.326051  0.699186
row 4  0.366395  0.836375  0.481343  0.516502  0.383048  0.997541
row 5  0.514244  0.559053  0.034450  0.719930  0.421004  0.436935
row 6  0.281701  0.900274  0.669612  0.456069  0.289804  0.525819

In [32]:
DF_obj.loc[['row 2', 'row 5'], ['column 5', 'column 2']]

       column 5  column 2
row 2  0.402366  0.437611
row 5  0.421004  0.559053

In [53]:
DF_obj[DF_obj < 0.2]

       column 1  column 2  column 3  column 4  column 5  column 6
row 1       NaN       NaN       NaN  0.185911       NaN  0.117376
row 2       NaN       NaN       NaN       NaN       NaN  0.113041
row 3       NaN       NaN  0.161985       NaN       NaN       NaN
row 4       NaN       NaN       NaN       NaN       NaN       NaN
row 5       NaN       NaN  0.034450       NaN       NaN       NaN
row 6       NaN       NaN       NaN       NaN       NaN       NaN

In [60]:
DF_obj[2:5,4]

TypeError: '(slice(2, 5, None), 4)' is an invalid key