In [1]:
import numpy as np
import pandas as pd

In [16]:
DF_obj= pd.DataFrame({'column 1':[1,1,2,2,3,3,3],
                   'column 2':['a', 'a','b', 'b', 'c', 'c', 'c'],
                   'column 3':['A', 'A', 'B', 'B', 'C', 'D', 'C']})
DF_obj

   column 1 column 2 column 3
0         1        a        A
1         1        a        A
2         2        b        B
3         2        b        B
4         3        c        C
5         3        c        D
6         3        c        C

In [17]:
DF_obj.duplicated(keep='last')

0     True
1    False
2     True
3    False
4     True
5    False
6    False
dtype: bool

In [18]:
DF_unique = DF_obj.drop_duplicates()
DF_unique

   column 1 column 2 column 3
0         1        a        A
2         2        b        B
4         3        c        C
5         3        c        D

In [20]:
DF_unique = DF_obj.drop_duplicates(['column 2'])
DF_unique

   column 1 column 2 column 3
0         1        a        A
2         2        b        B
4         3        c        C